body
{
    background-color:rgb(105, 103, 186);
}

h1{

    color:rgb(11, 58, 99);
    background-color: aliceblue;
}

#show_sketch
{
    float:right;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}
@keyframes example {

    from {box-shadow: 1px 1px 38px rgb(39, 80, 22);}
    to {box-shadow: 1px 1px 38px white;}
}

p{
    padding-top: 10px;
    font-size:25px;
    
}